@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*Index Page Stuff*/
#element::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

body {
    background-image: url("../img/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    color: dimgrey;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
    padding-top: 75%;
}

footer {
    display: none;
    color: #2a2d32;
    text-align: center;
    width: 100%;
    margin-top: auto;
    position: fixed;
    bottom: 0;

}

.title {
    font-size: 30px;
    color: lightgrey;
}

.title2 {
    font-weight: bold;
    color: gray;
}

.p {
    background-color: #b3ffcc;
}

p {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    text-align: center;
    font-size: 24px;
}

#p2 {
    color: #ffffff;
    max-width: 800px;
    font-size: 1.75em;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #666699;
}

.link:hover {
    color: gray;
}

.left {
    margin-left: 0;
    text-align: left;
}

.img {
    margin-right: auto;
    margin-left: auto;
}

.grey {
    background: #ccccb3;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.ui.fluid.card {
    background-color: #23272a;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(121, 0, 219, 0.73);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(121, 0, 219, 0.73);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#p {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #0f0f10, #fffd00, #ffffff, #fffd00, #0f0f10);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

/*background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);*/
#meap {
    background-image: url(https://i.gifer.com/28b3.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: initial;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
}

#h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: initial;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 10rem;
}

@media (max-width: 600px) {
    #h1 {
        font-size: 4.5rem;
    }

    .ui.secondary.inverted.pointing.menu .item {
        color: #ffffff !important;
        margin: 0 !important;
        padding: 0 !important;
        min-width: 2.5vw;
    }

    .ui.dropdown .menu > .header {
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
    }
    .ui.menu .ui.dropdown .menu > .item .icon:not(.dropdown) {
        margin: 0 !important;
    }

    #toolsNav, #accountNav {
        display: inherit;
        margin: 0;
        padding: 0;
    }
}

#h11 {
    background-image: url(https://media1.giphy.com/media/FsFyS8K0mETiE/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: initial;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 7rem;
    margin: 10px 0;
    padding: 0;
}

#h11:hover {
    background-image: none;
    background-color: #4CAF50;
}

@media (max-width: 725px) {
    svg {
        font-size: 20vw;
        width: auto;
        height: auto;
    }

    .text-copy {
        font-size: 20vw;
        width: auto;
        height: auto;
    }
}

svg {
    width: 100%;
    display: block;
    margin: auto;
    font: 10.5em 'Montserrat';
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #1d2097;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #00dcdb;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #52a2e3;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #58008e;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.ui.green.paragraph {
    color: #0ea432;
}

.ui.red.paragraph {
    color: #ff0623;
}

.ui.white.paragraph {
    color: whitesmoke;
}

.ui.blue.paragraph {
    color: #2185d0;
}

.ui.yellow.paragraph {
    color: #ede900;
}

.ui.card.dark {
    background-color: #4c4f52;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.ui.menu .dropdown.item .menu {
    background-color: #23272a;
}


.ui.secondary.pointing.menu .active.item {
    font-weight: normal;
}

#statusLoading {
    display: none;
}


.ui.dropdown .menu > .header {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.ui.menu .ui.dropdown .menu > .item .icon:not(.dropdown) {
    margin: 0 !important;
}

#toolsNav, #accountNav {
    display: inherit;
    margin: 0;
    padding: 0;
}

.ui.bottom.left.popup {
    margin: 0 !important;
    right: 10rem;
    padding: 1rem !important;
}
