select.ui.dropdown {
    min-height: auto !important;
    height: 1.25em;
    padding: 0;
}

#element::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.ui.form textarea {
    background-color: #99AAB5;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
    background-color: #99AAB5;
}

#title-bar {
    background-image: url('../img/bar.png');
    height: 2.5rem;
    margin: 0;
    padding: 0;
    position: relative;
}

#menu {
    padding: 0;
    margin: 0;
}

#navMenuItem {
    padding: inherit;
    margin-right: 0;
    margin-top: inherit;
    margin-bottom: inherit;
}

#infobtn {
    height: 100%;
}

#keyLength {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    width: 2rem;
    padding: 0;
    margin: 0;
}

#fileDownloadName {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    width: auto;
    padding: 0;
    margin: 0;
}

#keyLength::-webkit-inner-spin-button,
#keyLength::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#content {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.ui.stackable.compact.icon.menu {
    background: none;
}