html, body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#debug {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

::selection {
    background: none;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #00FF00;
    /* Gecko Browsers */
}

.image {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

h1.header {
    font-size: 600%;
    text-align: center;
    background: linear-gradient(to right, white, cyan, teal, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.RightTitle:link {
    color: #6600CC;
    text-shadow: 2px 2px 4px black;
    background-color: transparent;
    text-decoration: none;
}

a.RightTitle:visited {
    color: #6600CC;
    background-color: transparent;
    text-decoration: none;
}

a.RightTitle:hover {
    color: #6600CC;
    background-color: transparent;
    text-decoration: none;
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

a.RightTitle:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none
}

a.RightTitle {
    font-size: 60px;
    background: -webkit-linear-gradient(black, blue);
    -webkit-background-clip: text;
    text-align: right;
    float: right;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    border-style: solid;
    border-width: 0px;
    display: block;
    width: 300px;
    height: 100px;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

p {
    color: white;
    -webkit-text-stroke: 1px purple;
    font-weight: bold;
    font-size: 18px;
}

#settings, button, input {
    font-size: 4vw;
}

input {
    border: .4vw inset purple;
    background: grey;
}

button {
    border: .4vw outset purple;
    background: gray;
}

.clearfix:after {
    display: block;
    clear: both;
    text-decoration: none;
}

/*----- Menu Outline -----*/

.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #3e3436;
    text-decoration: none;
}

.menu {
    width: 1500px;
    margin: 0px auto;
    text-decoration: none;
}

.menu li {
    margin: 0px;
    list-style: none;
    font-family: 'Ek Mukta';
    text-decoration: none;
}

.menu a {
    transition: all linear 0.15s;
    color: white;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 1px purple;
    font-size: 20px;
}

.menu li:hover > a,
.menu .current-item > a {
    text-decoration: none;
    color: purple;
}

.menu .arrow {
    font-size: 11px;
    line-height: 0%;
    text-decoration: none;
}

/*----- Top Level -----*/

.menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
    text-decoration: none;
}

.menu > ul > li > a {
    padding: 10px 40px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.menu > ul > li:hover > a,
.menu > ul > .current-item > a {
    text-decoration: none;
    background: #2e2728;
}

/*----- Bottom Level -----*/

.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
    text-decoration: none;
}

.sub-menu {
    width: 100%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear .5s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: #2e2728;
    text-decoration: none;
}

.sub-menu li {
    font-size: 16px;
    display: block;
    text-decoration: none;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

.sub-menu li a:hover,
.sub-menu .current-item a {
    background: #3e3436;
    text-decoration: none;
}

/*----------------------------*/
body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: "Anton", sans-serif;
    justify-content: center;
    align-items: center;
}

.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
    top: calc(50% - 39px);
    left: calc(50% - 57px);
    -webkit-animation-delay: 6757ms;
    animation-delay: 6757ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 6757ms;
    animation-delay: 6757ms;
}
.shooting_star:nth-child(2) {
    top: calc(50% - -153px);
    left: calc(50% - 205px);
    -webkit-animation-delay: 4001ms;
    animation-delay: 4001ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 4001ms;
    animation-delay: 4001ms;
}
.shooting_star:nth-child(3) {
    top: calc(50% - -187px);
    left: calc(50% - 10px);
    -webkit-animation-delay: 7139ms;
    animation-delay: 7139ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 7139ms;
    animation-delay: 7139ms;
}
.shooting_star:nth-child(4) {
    top: calc(50% - 157px);
    left: calc(50% - 239px);
    -webkit-animation-delay: 6772ms;
    animation-delay: 6772ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 6772ms;
    animation-delay: 6772ms;
}
.shooting_star:nth-child(5) {
    top: calc(50% - -121px);
    left: calc(50% - 229px);
    -webkit-animation-delay: 3636ms;
    animation-delay: 3636ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 3636ms;
    animation-delay: 3636ms;
}
.shooting_star:nth-child(6) {
    top: calc(50% - -109px);
    left: calc(50% - 214px);
    -webkit-animation-delay: 5669ms;
    animation-delay: 5669ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 5669ms;
    animation-delay: 5669ms;
}
.shooting_star:nth-child(7) {
    top: calc(50% - -188px);
    left: calc(50% - 88px);
    -webkit-animation-delay: 5654ms;
    animation-delay: 5654ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 5654ms;
    animation-delay: 5654ms;
}
.shooting_star:nth-child(8) {
    top: calc(50% - 140px);
    left: calc(50% - 151px);
    -webkit-animation-delay: 7087ms;
    animation-delay: 7087ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 7087ms;
    animation-delay: 7087ms;
}
.shooting_star:nth-child(9) {
    top: calc(50% - 82px);
    left: calc(50% - 189px);
    -webkit-animation-delay: 246ms;
    animation-delay: 246ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 246ms;
    animation-delay: 246ms;
}
.shooting_star:nth-child(10) {
    top: calc(50% - -192px);
    left: calc(50% - 20px);
    -webkit-animation-delay: 3081ms;
    animation-delay: 3081ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 3081ms;
    animation-delay: 3081ms;
}
.shooting_star:nth-child(11) {
    top: calc(50% - 110px);
    left: calc(50% - 159px);
    -webkit-animation-delay: 3157ms;
    animation-delay: 3157ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 3157ms;
    animation-delay: 3157ms;
}
.shooting_star:nth-child(12) {
    top: calc(50% - 125px);
    left: calc(50% - 230px);
    -webkit-animation-delay: 7444ms;
    animation-delay: 7444ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 7444ms;
    animation-delay: 7444ms;
}
.shooting_star:nth-child(13) {
    top: calc(50% - 62px);
    left: calc(50% - 86px);
    -webkit-animation-delay: 3461ms;
    animation-delay: 3461ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 3461ms;
    animation-delay: 3461ms;
}
.shooting_star:nth-child(14) {
    top: calc(50% - 80px);
    left: calc(50% - 161px);
    -webkit-animation-delay: 4644ms;
    animation-delay: 4644ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 4644ms;
    animation-delay: 4644ms;
}
.shooting_star:nth-child(15) {
    top: calc(50% - -70px);
    left: calc(50% - 264px);
    -webkit-animation-delay: 7610ms;
    animation-delay: 7610ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 7610ms;
    animation-delay: 7610ms;
}
.shooting_star:nth-child(16) {
    top: calc(50% - -71px);
    left: calc(50% - 208px);
    -webkit-animation-delay: 423ms;
    animation-delay: 423ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 423ms;
    animation-delay: 423ms;
}
.shooting_star:nth-child(17) {
    top: calc(50% - 43px);
    left: calc(50% - 117px);
    -webkit-animation-delay: 1767ms;
    animation-delay: 1767ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 1767ms;
    animation-delay: 1767ms;
}
.shooting_star:nth-child(18) {
    top: calc(50% - 52px);
    left: calc(50% - 230px);
    -webkit-animation-delay: 2489ms;
    animation-delay: 2489ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 2489ms;
    animation-delay: 2489ms;
}
.shooting_star:nth-child(19) {
    top: calc(50% - -38px);
    left: calc(50% - 150px);
    -webkit-animation-delay: 933ms;
    animation-delay: 933ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 933ms;
    animation-delay: 933ms;
}
.shooting_star:nth-child(20) {
    top: calc(50% - -123px);
    left: calc(50% - 53px);
    -webkit-animation-delay: 1194ms;
    animation-delay: 1194ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 1194ms;
    animation-delay: 1194ms;
}

@-webkit-keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}
@-webkit-keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
@-webkit-keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
@-webkit-keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
@keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}